.zend_form{
    width: 1020px;
    margin: 10px auto;
    overflow: hidden;
    background-color: #ECECEC;
    border: solid 1px #CCCCCC;
    padding: 10px;
}

.zend_form dt{
    width: 490px;
    float: left;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 10px;
}

.zend_form dd{
    width: 490px;
    float: left;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.zend_form input, .zend_form select,
.zend_form textarea{
    width: 300px;
    border: solid 1px #CCCCCC;
}

.zend_form textarea{
    height: 150px;
}

.zend_form select:disabled{
    color: #545454;
}



